@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "degular";
}
@font-face {
  font-family: "Degular";
  src:
    url("/fonts/DegularDemo-Bold.woff2") format("woff2"),
    url("/fonts/DegularDemo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src:
    url("/fonts/DegularDemo-Regular.woff2") format("woff2"),
    url("/fonts/DegularDemo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src:
    url("/fonts/DegularDemo-Medium.woff2") format("woff2"),
    url("/fonts/DegularDemo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src:
    url("/fonts/DegularDemo-Black.woff2") format("woff2"),
    url("/fonts/DegularDemo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src:
    url("/fonts/DegularDemo-Semibold.woff2") format("woff2"),
    url("/fonts/DegularDemo-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
